<!-- component -->
<main class="h-screen w-full flex flex-col justify-center items-center bg-[#0DA5F2]">
  <h1 class="text-9xl font-extrabold text-white tracking-widest">404</h1>
  <div class="bg-gray-200 px-2 text-sm rounded rotate-12 absolute">
    Pagina no encontrada
  </div>
  <button class="mt-5">
    <a
      class="relative inline-block text-sm font-medium text-gray-200 group active:text-[#0DA5F2] focus:outline-none focus:ring"
    >
        <span
          class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-gray-200 group-hover:translate-y-0 group-hover:translate-x-0"
        ></span>

      <span class="relative block px-8 py-3 bg-[#1A2238] border border-current">
          <a [routerLink]="['/home']">Regresar</a>
        </span>
    </a>
  </button>
  <div class="float">
    <app-language-button></app-language-button>
  </div>
</main>
