<div class="w-screen h-screen bg-gray-200">
  <app-navbar></app-navbar>
  <div class="relative mx-auto mt-20 mb-20 max-w-screen-lg overflow-hidden rounded-t-xl py-32 text-center shadow-xl shadow-gray-300">
    <img class="absolute top-0 left-0  h-full w-full object-cover" src="assets/images/bannerhero.png" alt="" />
    <div class="relative z-10">
      <h1 class="mt-2 px-8 text-3xl font-bold text-white md:text-5xl">Agenda una cita</h1>
      <p class="mt-6 text-lg text-white">Para agendar una cita consulta los horarios y fechas disponibles</p>
    </div>
  </div>

  <div class="mx-auto grid max-w-screen-lg px-6 pb-20">
    <div class="">
      <p class="mt-8 text-xl font-bold text-blue-900">Selecciona una fecha</p>
      <div class="relative mt-4 w-56 p-1 border-2 rounded-lg" style="border-color: #323573">
        <p-calendar (onSelect)="onDateChange()" [(ngModel)]="date" [showIcon]="true"></p-calendar>
      </div>
    </div>

    <div>
      <p class="mt-8 text-xl font-bold text-blue-900">Selecciona una hora</p>
      <div class="flex flex-wrap mt-4 gap-2">
        <button *ngFor="let time of availableTimes"
                [class]="time.isAvailable ? 'rounded-lg bg-emerald-100 hover:bg-emerald-200 px-4 py-2 font-medium text-emerald-900 hover:scale-105 transition transform' : 'rounded-lg bg-gray-300 px-4 py-2 font-medium text-gray-500 cursor-not-allowed'"
                [disabled]="!time.isAvailable"
                (click)="selectTime(time.id)"
                [ngClass]="{'bg-red-500': selectedTime == time.id}">
          {{time.timeString}}
        </button>
      </div>
    </div>
    <button (click)="scheduleAppointment()" class="mt-8 w-56 rounded-full border-8 px-10 py-4 text-lg font-bold text-white transition hover:translate-y-1" style="background-color: #323573; border-color: #262958">Agendar</button>
  </div>
</div>
<p-toast></p-toast>
