<div class="w-screen h-screen bg-gray-200">
  <app-navbar></app-navbar>
  <div class="relative mx-auto mt-20 mb-20 max-w-screen-lg overflow-hidden rounded-t-xl py-32 text-center shadow-xl shadow-gray-300">
    <img class="absolute top-0 left-0  h-full w-full object-cover" src="assets/images/bannerhero.png" alt="" />
    <div class="relative z-10">
      <h1 class="mt-2 px-8 text-3xl font-bold text-white md:text-5xl">Mis citas</h1>
      <p class="mt-6 text-lg text-white">Esta son tus citas agendadas</p>
    </div>
  </div>
  <div class="mx-auto grid max-w-screen-lg px-6 pb-10">
    <div class="relative flex flex-col  items-center rounded-[10px] border-[1px] border-gray-200 max-w-screen-lg p-4 bg-white bg-clip-border shadow-md shadow-[#F3F3F3]">
      <div class="flex items-center justify-between rounded-t-3xl p-3 w-full">
        <div class="text-lg font-bold" style="color:#262958;">
          Lista de citas
        </div>
        <button (click)="newAppointment()" class="linear rounded-[20px] bg-lightPrimary px-4 py-2 text-base font-medium text-brand-500 transition duration-200 hover:bg-blue-700 active:bg-gray-200">
          Agendar
        </button>
      </div>
      <div class="flex flex-col h-full w-full items-start justify-between rounded-md border-[1px] border-[transparent]">
        <div *ngFor="let appointment of formData">
          <app-appointment-card
            [appointmentData]="appointment"
            (edit)="editAppointment(appointment.id)"
            (delete)="deleteAppointment(appointment.id)">
          </app-appointment-card>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
